@page "/builds"

<div class="flex-container">
    <div>
        <h3>Список сборок</h3>
    </div>
    <div>
        <h3>Title сборки</h3>
        <h3>Приоритет</h3>
    </div>
    
</div>

@code {

}
