@page "/characters"
@using GenshinBuilds.Application;
@using GenshinBuilds.Application.Common.Models;
@using GenshinBuilds.Application.Services.Interfaces;
@using GenshinBuilds.Domain.Models;
@using GenshinBuilds.ElectronBlazor.Common.Comparer;

@inject IUnitOfWork _unitOfWork;
@inject ICharacterInformationService _characterService; 


<div class="flex-container">
    <div>
        <h3>Список персонажей</h3>
    </div>
    <div>
        <WeaponTypeFilter TEntity="MinimalCharacter" Source="CharactersList" @bind-ListTypesOfWeapon="FiltredCharacters"></WeaponTypeFilter>
    </div>

    <div class="flex-character-container">

        @foreach (var character in FiltredCharacters)
        {
            <CharacterCard Character="character"></CharacterCard>
        }
    </div>
</div>

@code {
    private bool _isBusy = true;
    public List<MinimalCharacter> CharactersList { get; set; } = new();
    public List<MinimalCharacter> FiltredCharacters { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _isBusy = true;
        var characters = await _characterService.GetAllMinimalCharacterInfo();

        if (characters is null) return;

        CharactersList = characters.ToList();
        FiltredCharacters = CharactersList;
        FiltredCharacters.Sort(new RarityComparer<MinimalCharacter>());

        _isBusy = false;
        await base.OnInitializedAsync();
    }
}
