@page "/"

@using GenshinBuilds.Application.Interfaces;


<PageTitle>Index</PageTitle>

<h1>Hello, worldа!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

}
