

aside {
    height: 100vh;
}

aside .app-sidebar{
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 92vh;
  position: relative;
  top: 1.5rem;
  transition: all 0.3s ease;
}

aside .app-sidebar:hover{
  box-shadow: none;
}

aside .app-sidebar a{
  display: flex;
  align-items: center;
  color: var(--color-info-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .app-sidebar a span {
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

aside .app-sidebar a h3{
    margin: 0.5rem;
}

aside .app-sidebar a:hover {
    color: var(--color-primary);
}

aside .app-sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .app-sidebar a:hover span {
    margin-left: 0.6rem;
}


/*@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: block;
    }
}*/
